<html>
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.slim.js"></script>
        <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js'></script>
        <style>
            body {
                margin: 0px;
                padding: 0px;
            }

            table {
                width: 100%;
                max-width: 500px;
                font-family: Consolas, monospace;
            }

            small {
                font-size: 8pt;
            }

            input {
                width: 100%;
                font-family: Consolas, monospace;
            }

            .red {
                color: white;
                background-color: darkred;
            }
        </style>
</head>
<body ng-app='App' ng-controller='AppController'>
<script type="text/javascript" charset="utf-8">
    angular.module('App', []).controller('AppController', ($scope, $http, $sce) => {
        let socket = io.connect(`http://${ document.domain }:${ location.port }`);
    
        socket.on('connect', function () {
            $http.get(`http://${ document.domain }:${ location.port }/24hours`).then((response) => {
                $scope.events = {};
                for (let event of response.data) {
                    let obj = parseEvent(event);
                    $scope.events[obj.rowid] = obj;
                }
            });
        });

        socket.on('message', function (message) {
            // console.log(message);
            if (message.startsWith('delete')) {
                let rowid = message.split(' ')[1];
                if ($scope.events[rowid] && $scope.events[rowid].intervalHandle) {
                    clearInterval($scope.events[rowid].intervalHandle);
                }
                delete $scope.events[rowid];
            } else {
                let obj = parseEvent(JSON.parse(message));
                $scope.events[obj.rowid] = obj;
            }
            $scope.$apply();
        });

        function now() {
            return Math.floor(new Date().getTime() / 1000);
        }

        function parseEvent(event) {
            let obj = { rowid: event[0], line_code: event[1], event_type: event[2], event_start: event[3], event_stop: event[4], event_comment: event[5] };
            obj.start = reprDate(obj.event_start);

            if ($scope.events[obj.rowid] && $scope.events[obj.rowid].intervalHandle) {
                clearInterval($scope.events[obj.rowid].intervalHandle);
                delete $scope.events[obj.rowid].intervalHandle;
            }

            if (obj.event_stop > 0) {
                obj.stop = reprDate(obj.event_stop);
                obj.downtime = obj.event_stop - obj.event_start;
            } else {
                obj.downtime = now() - obj.event_start;
                obj.intervalHandle = setInterval(function () { intervalClosure(obj); }, 1000);
            }

            return obj;
        }

        function reprDate(t) {
            t = (t) * 1000;
            let d = new Date(t);
            return [`${ zf(d.getDay()) }/${ zf(d.getMonth()) }/${ d.getFullYear() }`, `${ zf(d.getHours()) }:${ zf(d.getMinutes()) }:${ zf(d.getSeconds()) }`];
        }

        $scope.reprTime = (t) => {
            let hours = Math.floor(t / 3600);
            t -= hours * 3600;
            let minutes = Math.floor(t / 60);
            t -= minutes * 60;
            let seconds = t;
            return `${ zf(hours) }:${ zf(minutes) }:${ zf(seconds) }`;
        }

        function intervalClosure(obj) {
            obj.downtime = now() - obj.event_start;
            $scope.$apply();
        }

        function zf(num) {
            return new String(num).padStart(2, 0);
        }

        // ---

        $scope.delete = function (rowid) {
            $http.get(`http://${ document.domain }:${ location.port }/delete/${ rowid }`).then((response) => {
                if (response.data === '200') {
                }
            });
        };

        $scope.update = function (rowid, comment) {
            $http.get(`http://${ document.domain }:${ location.port }/update/${ rowid }/${ encodeURI(comment) }`).then((response) => {
                if (response.data === '200') {
                }
            });
        };
    });
</script>

<!--
<small>{{ event.start[0] }}</small> start date
<small>{{ event.stop[0] }}</small> end date
-->

<table cellspacing='0' cellpadding='4'>
    <tr ng-class="{ 'red': event.event_stop == 0 }" ng-repeat-start='event in events'>
        <td><b>{{ event.line_code.toUpperCase() }}</b></td>
        <td align='right'><b>{{ reprTime(event.downtime) }}</b></td>

<!--
        <td> <b>{{ event.start[1] }}</b></td>
        <td ng-if='event.event_stop > 0'><b>{{ event.stop[1] }}</b></td>
        <td ng-if='event.event_stop == 0' style='color: red'><b>Ongoing...</b></td>
        <td><b ng-if='event.event_stop == 0' style='color: red'>{{ reprTime(event.downtime) }}</b><span ng-if='event.event_stop > 0'>{{ reprTime(event.downtime) }}</span></td>
        <td><button ng-click='update(event.rowid, event.event_comment)'>Update</button></td>-->
    
    </tr>

    <tr>
        <td colspan='2'><input type='text' ng-model='event.event_comment' ng-blur='update(event.rowid, event.event_comment)' /></td>
        <!-- <button ng-click='delete(event.rowid)'>Delete</button> -->
    </tr>
    
    <tr ng-if='event.event_stop > 0'>
        <td><small>{{ event.start[0] }}</small></td>
        <td align='right'><small>{{ event.start[1] }} &mdash; {{ event.stop[1] }}</small></td>
    </tr>
            
    <tr ng-if='event.event_stop == 0'>
        <td><small>{{ event.start[0] }}</small></td>
        <td align='right'><small>{{ event.start[1] }} &mdash; Ongoing!</small></td>
    </tr>
    
    <tr ng-repeat-end>
        <td colspan='2'><hr /></td>
    </tr>

</table>
<div >{{ event }}</div>

</body>
</html>